.body {
    color: white;
    font-family: 'Roboto', sans-serif;
}
.homepage {
    
    
    .artist {
        padding: 15px;
        margin: 40px 0;
        
        &-header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            
            
            &-name {
                font-size: 20px;
                font-weight: 500;
                
            }
            
            &-img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-size: cover;
                background-position: center;
                overflow: hidden;
                margin-left: 40px;
                
                & img {
                    width: auto;
                    height: 100%;
                    margin-left: -15px;
                }
                
            }
        }
        
        &-bio-text {
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            line-height: 19px;
            
            .show-more {
                font-weight: 500;
                &:hover {
                    cursor: pointer;
                }
            }
            .text-is-hidden {
                display: none;
                
            }
        }
        
        &-article {
            margin: 25px 0;
            text-align: center;
            &-header {
                margin: 20px 0 10px;
            }
            &-title {
                color: $primary-green;
                font-size: 18px;
                margin-bottom: 15px;
                font-weight: 500;
            }
            
            &-text {
                font-size: 14px;
                line-height: 19px;
                font-weight: 300;
            }
        }
    }
    
    .socials {
        text-align: center;
        margin: 60px 0;
        padding: 10px;
        
        &-header {
            font-size: 22px;
            font-weight: 700;
            line-height: 24px;
        }
        
        &-icons {
            display: flex;
            justify-content: center;
        }
        
        &-link {
            margin: 10px 20px;
            border-radius: 50%;
            font-size: 40px;
        }
    }
    
    .gallery {
        padding: 15px;
        max-width: 960px;
        margin: 50px auto;

        &-header {
            margin-bottom: 35px;
            font-size: 20px;
        }
        
        &-list {

            .element {

                &-link {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    
                }
                
                &-info {
                    width: 100%;
                    height: 70px;
                    position: absolute;
                    bottom: 32px;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background: rgba(#000, 0.73);
                    padding-left: 25px;


                    &-title {
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 5px;
                    }
                    
                    &-subtitle {
                        font-size: 12px;
                        font-weight: 300;
                        color: #b1b1b1;
                    }
                }
                

                .gallery-img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

            }
        }
    }
    
    @media (min-width: 550px) {
        .artist-article {
            width: 50%;
            float: left;
            padding: 10px;
            text-align: left;
        }
        .artist-bio-text .text-is-hidden {
            display: inline-block;
        }
        .show-more {
            display: none;
        }
        .socials {
            clear: both;
        }
    };
    
    @media (min-width: 700px) {
        .artist .artist-header {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 15px;
            min-width: 190px;
            .artist-header-img {
                margin: 10px 0;
                width: 120px;
                height: 120px;
            }
            
        }
        
        .artist .artist-bio-text {
            width: auto;
            max-width: 600px;
            margin-left: 30px;
            padding: 30px 0px;
            text-align: left;
            position: relative;
            
            &::before{
                width: 1px;
                height: 100%;
                content: '';
                background: $primary-green;
                position: absolute;
                left: -30px;
                top: 0;
            }
        }
        .bio-group {
            display: flex;
            max-width: 960px;
            margin: 0 auto;
            justify-content: space-around;
            align-items: center;
        }
        
        .article-group {
            clear: both;
            display: flex;
            justify-content: space-around;
            max-width: 960px;
            margin: 0 auto;
        }
        .artist-article {
            max-width: 400px;
        }
    }
    
    @media (min-width: 850px) {


        .artist {
            .artist-header-name {
                font-size: 26px;
            }
            
            &-bio-text {
                font-size: 16px;
                line-height: 20px;
            }
            
            .artist-article-title {
                font-size: 24px;
                margin-bottom: 20px;
            }
            .artist-article-text {
                font-size: 16px;
                line-height: 20px;
            }
        }
        
        .socials {
            &-header {
                font-size: 28px;
            }
        }
        
        .gallery {
            &-header {
                font-size: 20px;
            }
            
            .element {
                &-info {
                    &-title {
                        font-size: 18px;
                    }
                    &-subtitle {
                        font-size: 14px;
                    }
                }
            }
        }
        .header-bg {
            height: 80vh;
        }
    }
}

