// colors  
$primary-dark: #05080D;
$light-dark: #0F141A;
$lighter-dark: #181D23;

$primary-green: #CDD94D;
$green: #90d197;
$darker-green: #78b97f;

$grey: #A1A1A1;

$transparent-black: rgba(0, 0, 0, 0.7);
$transparent-grey: rgba(44, 44, 44, 0.5);